<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <title>Activate account</title>
        <style>
            body{
                font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
                max-width: 800px;
            }
            .container {
                padding: 0 20px;
            }
            .content {
                font-size: 14px;
                line-height: 40px;
                margin: auto;
                max-width: 500px;
                color: black;
            }
            .nav {
                background: #ef5350;
                display: flex;
                height:50px;
                align-items: center;
                padding: 0 10px;
                color: white;
            }
            .btn-container {
                text-align: center;
            }
            .btn {
                border: none;
                background: #ef5350;
                padding: 15px;
                font-size: 20px;
                color: white;
                border-radius: 5px;
                cursor: pointer;
            }
            a {
                cursor: pointer;
            }
        </style>
    </head>
    <body>
        <div class="nav"><h3>Hangman Team  Support</h3></div>
        <div class="container">
            <div class="content">
                <h1>Hello <%= @user.name %>!</h1>
                <h2>We received your message to change your password!</h2>
                <h3>To change your password just click the button below, thanks to use Hangman Team Support!</h3>
                <div class = "btn-container">
                    <a href="http://hangmangame1.eastus.cloudapp.azure.com/remember?token=<%= @token %>&id=<%= @user.id %>"><button class="btn">Reset Password</button></a>
                </div>
            </div>
        </div>
    </body>
</html>
